In [7]:
%env ES_HOST=https://es-sg-6wr2adiqj0002qgdj.public.elasticsearch.aliyuncs.com:9200
%env ES_USERNAME=droidv2-logger
%env ES_PASSWORD=SRwDu8RQ8y4kj43
%env EMAIL_USERNAME=asklora@loratechai.com
%env EMAIL_PASSWORD=lzlztzvrndfinjdy
%env SLACK_API=xoxb-305855338628-1139022048576-2KsNu5mJCbgRGh8z8S8NOdGI
%env DB_URL=psql.psql
%env DB_PORT=5432
%env ROOK_URL=rook-ceph-rgw-my-store-external.rook-ceph
%env ROOK_PORT=80
%env ROOK_ASSESS_KEY=Z4SXFVHUGTGC9K18BT2M
%env ROOK_SECRET_KEY=U2Bu6gaaWflxfXppmeJOPHjpGaLS7qIy0u1GzBP0
%env DB_USERNAME=quant_factor
%env DB_PASSWORD=quant_factor
%env DEBUG=True
%env SAVE_MODEL=True

env: ES_HOST=https://es-sg-6wr2adiqj0002qgdj.public.elasticsearch.aliyuncs.com:9200
env: ES_USERNAME=droidv2-logger
env: ES_PASSWORD=SRwDu8RQ8y4kj43
env: EMAIL_USERNAME=asklora@loratechai.com
env: EMAIL_PASSWORD=lzlztzvrndfinjdy
env: SLACK_API=xoxb-305855338628-1139022048576-2KsNu5mJCbgRGh8z8S8NOdGI
env: DB_URL=psql.psql
env: DB_PORT=5432
env: ROOK_URL=rook-ceph-rgw-my-store-external.rook-ceph
env: ROOK_PORT=80
env: ROOK_ASSESS_KEY=Z4SXFVHUGTGC9K18BT2M
env: ROOK_SECRET_KEY=U2Bu6gaaWflxfXppmeJOPHjpGaLS7qIy0u1GzBP0
env: DB_USERNAME=quant_factor
env: DB_PASSWORD=quant_factor
env: DEBUG=True
env: SAVE_MODEL=True

In [109]:
import pandas as pd
import numpy as np
import ast
import datetime as dt
from sqlalchemy import select, and_, union
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor

In [9]:
from utils import read_query, models, get_active_universe

# 1. Eval [Backtest_eval]
Average premium for each (group, testing_period, configs)

In [10]:
name_sql = 'w26_20221118103851'

In [11]:
df = read_query(select(models.FactorBacktestEval).where(models.FactorBacktestEval.name_sql == name_sql))
df.head(5)

,updated,name_sql,weeks_to_expire,currency_code,testing_period,pillar,train_currency,hpot_eval_metric,objective,average_days,...,max_factor_pred,min_factor_pred,max_factor_actual,min_factor_actual,max_ret,min_ret,mae,mse,r2,actual
0,2022-11-18 04:15:47.008173,w26_20221118103851,26,EUR,2022-03-06,value,USD,mse_valid,squared_error,-7,...,"{'ebitda_to_ev*': 0.0009080906948620196, 'ni_t...","{'book_to_price*': -0.0005882618001444119, 'ea...","{'ebitda_to_ev*': 0.0, 'ni_to_cfo': 0.0, 'sale...","{'book_to_price*': 0.0, 'earnings_1yr*': 0.0, ...",0.0,0.0,0.001215,0.000002,-0.004049,0.0
1,2022-11-18 04:15:47.008173,w26_20221118103851,26,EUR,2022-03-06,value,USD,mse_valid,squared_error,-7,...,"{'ni_to_cfo': 0.0021518847121854636, 'roe*': -...","{'book_to_price*': -0.005159293680345637, 'ear...","{'ni_to_cfo': 0.0, 'roe*': 0.0, 'roic*': 0.0}","{'book_to_price*': 0.0, 'earnings_yield*': 0.0...",0.0,0.0,0.002872,0.000012,-0.890033,0.0
2,2022-11-18 04:15:47.008173,w26_20221118103851,26,EUR,2022-03-06,value,USD,mse_valid,squared_error,-7,...,"{'ebitda_to_ev*': 0.000598228500378322, 'ni_to...","{'book_to_price*': -0.0011388445299984273, 'ea...","{'ebitda_to_ev*': 0.0, 'ni_to_cfo': 0.0, 'roe*...","{'book_to_price*': 0.0, 'earnings_1yr*': 0.0, ...",0.0,0.0,0.001035,0.000002,-0.000865,0.0
3,2022-11-18 04:15:47.008173,w26_20221118103851,26,EUR,2022-03-06,value,USD,mse_valid,squared_error,-7,...,"{'ni_to_cfo': 0.00035165340278865643, 'roe*': ...","{'book_to_price*': -0.004636008400158965, 'ear...","{'ni_to_cfo': 0.0, 'roe*': 0.0, 'roic*': 0.0}","{'book_to_price*': 0.0, 'earnings_yield*': 0.0...",0.0,0.0,0.003209,0.000014,-2.252749,0.0
4,2022-11-18 04:15:47.008173,w26_20221118103851,26,EUR,2022-03-20,value,USD,mse_valid,squared_error,-7,...,"{'ni_to_cfo': 0.002297391844337486, 'roe*': -0...","{'book_to_price*': -0.0035821723653927332, 'ea...","{'ni_to_cfo': 0.0, 'roe*': 0.0, 'roic*': 0.0}","{'book_to_price*': 0.0, 'earnings_1yr*': 0.0, ...",0.0,0.0,0.002487,0.000008,-0.786359,0.0

## 1.1. Factor Selected from Backtest Eval

In [12]:
from components.model_evaluation.src.evaluate_top_selection import EvalTop

In [14]:
cls = EvalTop(name_sql=name_sql, eval_df=df, processes=1)

load clean eval
load eval config
=== evaluation iteration: n=8 ===
2022-11-22 19:05:25 loratech-MS-7B50 components.model_evaluation.src.load_eval_configs[2979] INFO === evaluation iteration: n=8 ===

In [24]:
import multiprocessing as mp

with mp.Pool(processes=1) as pool:
    results = pool.starmap(cls._select, cls._all_groups)

# df for all AI scores
select_df = pd.concat([e for e in results if e is not None], axis=0)

df_agg_select shape: (5376, 24) -> (1373, 24)
df_agg_select shape: (5376, 24) -> (1381, 24)
df_agg_select shape: (5376, 24) -> (1344, 24)
df_agg_select shape: (5376, 24) -> (1383, 24)
df_agg_select shape: (5376, 24) -> (1395, 24)
df_agg_select shape: (5376, 24) -> (1348, 24)

In [34]:
select_df.head(5)

,train_currency,hpot_eval_metric,objective,average_days,weeks_to_expire,currency_code,pillar,eval_q,eval_removed_subpillar,max_factor,max_factor_trh,max_factor_extra,min_factor,min_factor_trh,min_factor_extra,trading_day,eval_metric,qtr
0,USD,mse_valid,squared_error,-7,26,EUR,quality,0.33,True,"[gross_margin, fwd_roic*, tax_less_pension_to_...",0.4,[gross_margin],NaN,NaN,NaN,2008-07-06,max_ret,2008Q3
1,USD,mse_valid,squared_error,-7,26,EUR,quality,0.33,True,"[fwd_roic*, interest_to_earnings, debt_to_asset]",0.8,"[fwd_roic*, interest_to_earnings, debt_to_asset]",NaN,NaN,NaN,2008-07-20,max_ret,2008Q3
2,USD,mse_valid,squared_error,-7,26,EUR,quality,0.33,True,"[fwd_roic*, gross_margin]",0.8,"[fwd_roic*, gross_margin]",NaN,NaN,NaN,2008-08-03,max_ret,2008Q3
3,USD,mse_valid,squared_error,-7,26,EUR,quality,0.33,True,"[gross_margin, fwd_roic*]",0.8,"[gross_margin, fwd_roic*]",NaN,NaN,NaN,2008-08-17,max_ret,2008Q3
4,USD,mse_valid,squared_error,-7,26,EUR,quality,0.33,True,"[interest_to_earnings, gross_margin]",0.8,"[interest_to_earnings, gross_margin]",NaN,NaN,NaN,2008-08-31,max_ret,2008Q3

In [37]:
from collections import Counter
select_df["qtr"] = select_df["trading_day"].dt.year.astype(str) + "Q" + \
                   select_df["trading_day"].dt.quarter.astype(str)
df_agg = select_df.groupby(["qtr", "currency_code",  "pillar"])["max_factor"].sum().apply(Counter)
df_agg

qtr     currency_code  pillar
2008Q3  EUR            momentum    {'market_cap_usd': 7, 'stock_return_ww2_1': 3,...
                       quality     {'gross_margin': 5, 'fwd_roic*': 6, 'tax_less_...
                       value       {'sales_to_price*': 3, 'ebitda_to_ev*': 2, 'ni...
        USD            momentum    {'market_cap_usd': 7, 'stock_return_r6_2*': 6,...
                       quality     {'gross_margin': 6, 'fwd_roic*': 5, 'interest_...
                                                         ...
2022Q4  EUR            quality     {'gross_margin': 3, 'tax_less_pension_to_accu_...
                       value                 {'ni_to_cfo': 3, 'roic*': 2, 'roe*': 2}
        USD            momentum    {'stock_return_r6_2*': 3, 'stock_return_r12_7*...
                       quality     {'tax_less_pension_to_accu_depre*': 3, 'gross_...
                       value                 {'roe*': 3, 'ni_to_cfo': 3, 'roic*': 2}
Name: max_factor, Length: 348, dtype: object

In [132]:
df_agg_factor = pd.DataFrame(df_agg.to_list(), index=df_agg.index)
df_agg_factor.columns = [x.strip("*") for x in df_agg_factor]
df_agg_factor

ValueError: Length of names must match number of levels in MultiIndex.

### Get Ratio return

In [74]:
ret_df = read_query(select(models.FactorPreprocessPremium)
                    .where(and_(models.FactorPreprocessPremium.weeks_to_expire==26,
                                models.FactorPreprocessPremium.group.in_(["USD", "EUR"]))),
                   date_cols=["testing_period"])
ret_df.describe()

       weeks_to_expire  average_days         value
count          41184.0       41184.0  41184.000000
mean              26.0          -7.0     -0.000873
std                0.0           0.0      0.016221
min               26.0          -7.0     -0.178749
25%               26.0          -7.0     -0.008452
50%               26.0          -7.0     -0.000810
75%               26.0          -7.0      0.006830
max               26.0          -7.0      0.154755

In [75]:
ret_df["qtr"] = ret_df["testing_period"].dt.year.astype(str) + "Q" + \
                ret_df["testing_period"].dt.quarter.astype(str)
ret_df = ret_df.groupby(["qtr", "group", "field"])["value"].mean()

## pillar map

In [162]:
pillar_map = read_query("SELECT DISTINCT pillar, name FROM factor.factor_formula_ratios")
pillar_map = pillar_map.set_index(["name"])["pillar"]

In [163]:
ret_df["pillar"] = ret_df.index.get_level_values("field").map(pillar_map)

In [167]:
with pd.ExcelWriter("premium.xlsx") as writer:
    for name, g in ret_df.loc[ret_df.index.get_level_values("qtr") >= '2017Q1'
                             ].unstack(["field"]).groupby("group"):
        g_x = g.T
        g_x["pillar"] =g_x.index.map(pillar_map)
        g_x.reset_index().set_index(["pillar", "field"]).sort_index().to_excel(writer, sheet_name=name)

In [144]:
# merge
df_agg_factor_merge = df_agg_factor.fillna(0).stack().to_frame()
df_agg_factor_merge.index.names = ['qtr', 'group', 'pillar', 'field']
df_agg_factor_merge = df_agg_factor_merge.merge(ret_df, left_on=["qtr", "group", "field"], 
                                                right_index=True, how="left").dropna(how="any")
df_agg_factor_merge.columns = ["n_select", "premium_value"]

In [94]:
df_agg_factor_merge["premium_qcut"] = df_agg_factor_merge.groupby(["qtr", "group", "pillar"])["premium_value"]\
    .apply(lambda x: pd.qcut(x, q=3, labels=False, duplicates="drop"))

In [96]:
df_agg_factor_merge["is_select"] = df_agg_factor_merge["n_select"] > 0
df_agg_factor_merge["is_best"] = df_agg_factor_merge["premium_qcut"] == 2

In [104]:
df_agg_factor_merge["case"] = np.select(
    [df_agg_factor_merge["is_best"] & df_agg_factor_merge["is_select"],
     df_agg_factor_merge["is_select"],
     df_agg_factor_merge["is_best"],], [2, 1, 0], None
)
df_agg_factor_merge["case"].unstack(["field"]).to_csv("df_agg_factor_merge.csv")

In [126]:
from sklearn.metrics import confusion_matrix
df_agg_factor_merge_conf = df_agg_factor_merge.groupby(["group", "field"]).apply(
    lambda x: confusion_matrix(x["is_best"], x["is_select"], normalize="all").ravel())
df_agg_factor_merge_conf = pd.DataFrame(df_agg_factor_merge_conf.to_list(), 
                                        index=df_agg_factor_merge_conf.index,
                                        columns=('tn', 'fp', 'fn', 'tp'))
df_agg_factor_merge_conf.to_csv('df_agg_factor_merge_conf.csv')

In [6]:
df_agg = df.groupby(["currency_code", "testing_period", "pillar"])[["min_ret", "max_ret"]].agg(["mean", "min", "max"])

In [7]:
df_agg_pivot = df_agg.unstack(["currency_code", "pillar"])
df_agg_pivot.columns.names = ["return_type", "agg_type", 'currency_code', 'pillar']

# 2. Run plotly-dash

In [8]:
import plotly.express as px
from jupyter_dash import JupyterDash
from dash import html, dcc
from dash.dependencies import Input, Output

# Build App
app = JupyterDash(__name__)

app.layout = html.Div(children=[html.H1(children=f'Eval_Factor_{name_sql}')])

# Run app and display result inline in the notebook
app.run_server(mode='external')

Dash app running on http://127.0.0.1:8050/

In [9]:
app.layout = html.Div(children=[
    html.H1(children=f'Eval_Factor_{name_sql}'),
    html.Div([
        dcc.Dropdown(df_agg_pivot.columns.levels[0].to_list() + ["*"],
                     'return_type',
                     id='return_type'),
        dcc.Dropdown(df_agg_pivot.columns.levels[1].to_list() + ["*"],
                     'agg_type',
                     id='agg_type'),
#         dcc.Dropdown(df_agg_pivot.columns.levels[2].to_list() + ["*"],
#                      'currency_code',
#                      id='currency_code'),
        dcc.Dropdown(df_agg_pivot.columns.levels[3].to_list() + ["*"],
                     'pillar',
                     id='pillar'),
    ]),
    dcc.Graph(id='graph-eur'),
    dcc.Graph(id='graph-usd'),
    
])


def filter_df(df, return_type, agg_type, currency_code, pillar):
    """
    Filter df for certain columns to plot line chart
    """
    filtered_df = df.droplevel(["currency_code"], axis=1)
    conditions = []
    i = 0
    for v in [return_type, agg_type, currency_code, pillar]: 
        if v != "*":
            conditions.append(df.columns.get_level_values(i) == v)
        i += 1

    filtered_df = filtered_df.loc[:, np.all(np.vstack(conditions), axis=0)]
    filtered_df.columns = ["-".join(x) for x in filtered_df]
    fig = px.line(filtered_df)
    fig.update_layout(transition_duration=500, 
                      title={'text': currency_code, 'y':0.9, 'x':0.5, 'xanchor': 'center', 'yanchor': 'top'},
                      font=dict(size=18),
                      yaxis_range=[-0.1, 0.1])
    return fig


@app.callback(
    [Output('graph-eur', 'figure'),
     Output('graph-usd', 'figure')],
    [Input('return_type', 'value'),
     Input('agg_type', 'value'),
#      Input('currency_code', 'value'),
     Input('pillar', 'value')])
        
def update_figure(return_type, agg_type, pillar):
    fig_eur = filter_df(df_agg_pivot, return_type, agg_type, "EUR", pillar)
    fig_usd = filter_df(df_agg_pivot, return_type, agg_type, "USD", pillar)
    return fig_eur, fig_usd